.homeTitleText {
    margin-top: 0;
    line-height: 3.2;
    pointer-events: none;
    text-shadow: #bbb8b8 0px 1px;
}

.homeHeader {
    font-family: 'reeyregular';
    position: relative;
    text-align: center;
    z-index: 2;
}

.date {
    color: var(--secondary--light);
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
}

.date a {
    color: var(--secondary--light);
    text-decoration: none;
}

@media screen and (max-width: 450px) {
    .homeTitleText {
        font-size: 33px;
        line-height: 3;
    }


    .seperator {
        display: none;
    }

    .home {
        margin-top: 15px;
        max-width: 100%;
        overflow-x: hidden;
    }

    .date {
        padding-top: 0;
        font-size: 22px;
    }

    .theDate {
        display: inline-block;
        width: 100%;
    }

    .date a {
        white-space: pre;
        text-wrap: wrap;
    }
}