.questionaire {
    text-align: left;
}

.guestAttendingContainer {
    text-align: left;
    margin-bottom: 24px;
}

.select {
    margin-left: 10px;
    padding: 5px;
}

.guest_details {
    margin: 0 0 24px;
}

.guestDetailsHeader {
    margin: 0 0 12px;
}

.guestDetailsHelper {
    margin-bottom: 24px;
}

.helper-text {
    margin-top: 0;
    font-size: 14px;
    font-family: 'oregon_ldo_lightregular';
}

.questionaire__guestAttendanace {
    display: flex;
    justify-content: space-between;
}
.questionaire__guestResponse {
    display: flex;
    align-items: center;
}


.questionaire label {
    color: var(--on--background);
}

.questionaire .questionaire__foodlabel {
    color: inherit;
}

.questionaire__guestAttendanace p {
    margin: 10px 0;
}


.guestRadio {
    margin: 0 10px;
}

.guestRadioLabel {
    padding-right: 12px;
}

.guestDetailsCTAs {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
}

.acceptBtn {
    margin-left: 12px;
}

.szh-accordion {
    text-align: left;
}

.error__confirmation {
    float: right;
}

.error__declination {
    background-color: gray;
    float: left;
}

.ReactModal__Content h2 {
    text-align: left;
}

@media (max-width:450px)  {
    .guestAttendingContainer {
        font-size: 18px;
    }
    .guestDetailsHeader {
        font-size: 18px;
    }
    .guest_details {
        margin-bottom: 48px;
        text-align: left;
    }
    .questionaire {
        padding: 15px;
    }
    .helper-text {
        font-size: 16px;
    }

    .rsvp-lookup__btn {
        width: 100%;
        margin-bottom: 15px;
    }

    .guestDetailsCTAs {
        flex-direction: column-reverse;
        margin-bottom: 15px;
    }

    .questionaire__guestAttendanace {
        flex-direction: column;
    }
    .questionaire__guestAttendanace .select {
        margin: 0 0 24px;
        width: 100%;
    }
}