.asside {
    background: none;
    border: 0;
    color: #348080;
    padding: 0;
}

button.asside {
    cursor: pointer;
}

button.asside:hover {
    color: var(--primary--light);
}

.asside--noTop {
    margin-top: 0;
}

.rsvp-lookup {
    text-align: center;
}

.rsvp-lookup__form {
    padding: 0 15px;
}

.rsvp-lookup__btn {
    display: block;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 9px 20px;
    background: #348080;
    border-radius: 2px;
    transition: 0.3s;
    margin: auto;
}

.rsvp-lookup__inputs {
    padding: 24px 0 48px;
}

.rsvp-lookup__btn:hover {
    cursor: pointer;
    background: #1b6161;
}

.rsvp-lookup__helper {
    display: block;
    color: gray;
    font-size: 12px;
    margin-top: 12px;
}

/* floating code modified from: https://codepen.io/elujambio/pen/yjwzGP */
.floating-label {
    display: inline-block;
    position:  relative; 
    margin-bottom:  24px; 
    margin-left: 10px;
    margin-right:  10px;
}

.floating-label label {
    color: var(--secondary--light);
    position:  absolute; 
    top: calc(50% - 7px);
    left:  0; 
    opacity:  0; 
    transition:  all .3s ease;
    pointer-events: none;
}

.floating-label input {
    color: var(--light-white);
    padding: 5px;
    transition: 0.3s all;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid gray;
    outline: none;
    width: 100%;
}

.floating-label input:not(:placeholder-shown):not(.guestName) {
    padding: 20px 9px 5px;
    margin-top: 1px;
}

.floating-label input:not(:placeholder-shown) + label {
    transform:  translateY(-10px); 
    opacity:  .7; 
    font-size: 12px;
    margin-left: 9px;
    top: 10px;
}

.backgroundFlower3 {
    position: absolute;
    background-image: url("/images/background-flower-3.png");
    width: 199px;
    height: 170px;
    background-size: cover;
    right: 40px;
    bottom: 60px;
}

@media (max-width:450px)  {
    .floating-label {
        margin: 0 0 24px;
        width: 100%;
    }
    .floating-label input {
        width: 100%;
        font-size: 18px;
    }
    .rsvp-lookup__btn {
        padding: 14px 24px;
        font-size: 16px;
    }
    .backgroundFlower3 {
        right: 15px;
    }
    
    .rsvp-lookup__helper {
        font-size: 14px;
    }
}

body {
    background-color: #f7f2f2;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    /* minmax(300px, 1fr)*/
    grid-gap: 30px;
    padding: 20px;
    justify-items: center;
    justify-content: center;
    align-items: start;
  }
  .box {
    padding: 2em;
  }
  .item {
    margin-bottom: 2em;
  }


input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
}
  
  /* checkbox-rect */
 input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:hover, input[type="checkbox"] + label:hover {
    color: var(--primary--light);
  }
  input[type="checkbox"]:hover + label:before, input[type="checkbox"] + label:hover:before {
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
  }

  input[type="checkbox"] + label:before {
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid var(--primary--light);
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 3px;
    -webkit-transition: all 0.15s, background 0.15s ease-in-out;
    transition: all 0.15s, background 0.15s ease-in-out;
    background: #f3f3f3;
  }

input[type="checkbox"]:checked + label:before {
    width: 0.9em;
    height: 0.9em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: var(--primary--light);
    box-shadow: 0 0 0 1px #000;
}