:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #1D637D;
  --primary--light: #517F99;
  --primary--dark: #043347;
  --secondary: #25523E;
  --secondary--light: #7A9270;
  --secondary--dark: #082D25;

  --text: #474646;
  --background: white;
  --on--background: var(--primary--dark);
  --nav: --var(--secondary--light);
  --date--info: --var(--secondary--light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151414;
    --on--background: #e4d8d8;
    --text: var(--on--background);
    --nav: #908c8c;
    --date--info: #908c8c;
  }

  img {
    filter: grayscale(25%);
  }

}

@media (prefers-color-scheme: dark) and (max-width: 425px) {
  :root {
    --nav: var(--primary--light);
    --date--info: var(--secondary--light);
  }
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'josefinsans';
  justify-content: center;
  padding: 0 45px;
  font-size: 20px;
  align-items: start;
  background-color: var(--background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2 {
  color: var(--on--background);

}

p {
  color: var(--text);
}

a {
  color: var(--secondary--light);
  transition: 0.25s all;
}

a:hover {
  color: var(--primary--light);
}

strong {
  color: var(--secondary--light);
}

@media screen and (max-width: 450px) {
  body {
    padding: 0 30px;
    overflow-x: hidden;
  }
}