:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #1D637D;
  --primary--light: #517F99;
  --primary--dark: #043347;
  --secondary: #25523E;
  --secondary--light: #7A9270;
  --secondary--dark: #082D25;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary--dark);
  color: #d9d4d4;
  font-family: 'josefinsans';
  justify-content: center;
  padding: 0 45px;
  font-size: 20px;
  align-items: start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: var(--secondary--light);
  transition: 0.25s all;
}

a:hover {
  color: var(--primary--light);
}

@media screen and (max-width: 450px) {
  body {
    padding: 0 30px;
    overflow-x: hidden;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
